#fat1{
  display: flex;
  height: 200px;
  align-items: center;
  background-color: DodgerBlue;
}

#fat2{
  display: flex;
  height: 200px;
  align-items: flex-start;
  background-color: DodgerBlue;
}

#fat3{
  display: flex;
  height: 200px;
  align-items: flex-end;
  background-color: DodgerBlue;
}

#fat4{
  display: flex;
  height: 200px;
  align-items: stretch;
  background-color: DodgerBlue;
}

#fat5{
  display: flex;
  height: 200px;
  align-items: baseline;
  background-color: DodgerBlue;
}